.env.development
.env.local
.env*.local

node_modules
.next
out
coverage
coverage-final.json

.turbo
.cache
.vercel

cypress/screenshots
cypress/videos
cypress/downloads

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
*.tsbuildinfo
