# MacOS
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

# Logs
*.log

# IntellIJ
.idea/
*.iml
*.iws
out/

# VSCode
.vscode/

*.db

# documentation
/documentation/book
# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
